body {
  font: 20px sans-serif;
  /*font-weight: bold;*/
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.chart {
    background-color: white;
    shape-rendering: auto;
    border-style: solid;
    border-color: #d3d3d3;
 }
 
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 20px;
}

* { margin: 0; }

#panel {

  position: fixed;

  background: #003399;
  color: #e6e6ff;
  opacity: .85;
  height: 98%;
  width: 550px;
  left: -550px;
  	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
#panel:hover {
  left: 0px;
}

#panelCaller {
  position: absolute;
  top: 5px;
  width: 125px;
  left: 550px;    
  background: #003399;
  opacity: .85;
}

#textbox {
float:left;
position: absolute;
  top: 150px;
  left: 650px;   
  width: 95px;
}

#textboxbutton1 {
  float:left;
  position: absolute;
  top: 520px;
  left: 650px;
}


#home_button {
  float:left;
  position: absolute;
  top: 10px;
  left: 1300px;
}


#textboxbutton2 {
  float:left;
  position: absolute;
  top: 520px;
  left: 730px;
}

textarea{
  resize: none;
  border:1px solid #999999;
  width:600%;
  height:600%;
  margin:5px 0;
  padding:3px;
  font-size: 20px;
}


#form2 {
float:left;
position: absolute;
  top: 200px;
  left: 1250px;   
}

 .text0 {
    fill: red;
 }
 
 .text1 {
    fill: green;
 }
 
 .text2 {
    fill:steelblue;
 }
 
 .text3 {
    fill: yellow;
 }
 
 .text4 {
    fill: purple;
 }
 
 .text5 {
    fill:brown;
 }
 
 .node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}


.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

div.relative {
    position: relative;
    width: 800px;
    height: 350px;
    border: 3px solid #73AD21;
}

div.absolute {
    position: absolute;
    top: 10px;
    right: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  cursor: crosshair;
}

.tooltip {
	background: #D791E8;
}
